*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    overflow:hidden;
    color:white;
}

/* Background Video */

#bgVideo{

    position:fixed;

    right:0;
    bottom:0;

    min-width:100%;
    min-height:100%;

    object-fit:cover;

    z-index:-2;
}

/* Dark Overlay */

.overlay{

    position:fixed;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.4);

    z-index:-1;
}

/* Main Container */

.container{

    padding:30px;
}

/* Search Box */

.search-box{

    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.search-box input{

    padding:12px;
    width:250px;

    border:none;
    border-radius:10px;

    outline:none;
}

.search-box button{

    padding:12px 18px;

    border:none;
    border-radius:10px;

    cursor:pointer;

    background:#00bfff;
    color:white;

    font-weight:bold;
}

#unitBtn{

    background:#ff9800;
}

/* Country List */

.country-list{

    margin-top:30px;
}

.country-list ul{

    list-style:none;
}

.country-list li{

    margin:10px 0;

    background:rgba(255,255,255,0.15);

    width:220px;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    transition:0.3s;
}

.country-list li:hover{

    background:rgba(255,255,255,0.3);
}

/* Weather Result */

#weatherResult{

    margin-top:40px;
}

/* Weather Card */

.weather-card{

    background:rgba(255,255,255,0.15);

    width:300px;

    padding:25px;

    border-radius:20px;

    backdrop-filter:blur(10px);
}

.weather-card h1{

    font-size:40px;
}

.weather-card h2{

    margin-top:10px;
    font-size:35px;
}

.weather-card h3{

    margin-top:10px;
